<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ul list</title>
</head>
<body>
<ul>инженер-исследователь</ul>
<ul>пилот</ul>
<ul>строитель</ul>
<ul>экзобиолог</ul>
<ul>врач</ul>
<ul>инженер по терраформированию</ul>
<ul>климатолог</ul>
<ul>специалист по радиационной защите</ul>
<ul>астрогеолог</ul>
<ul>гляциолог</ul>
<ul>инженер жизнеобеспечения</ul>
<ul>метеоролог</ul>
<ul>оператор марсохода</ul>
<ul>киберинженер</ul>
<ul>штурман</ul>
<ul>пилот дронов</ul>
</body>
</html>